
.vs/monitor_dummy_server/v16/.suo
*.db
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.dll
*.obj
*.tlog
*.exe
*.recipe
*.iobj
*.ipdb
*.log
*.pdb
*.CopyComplete
x64/Release/monitor_dummy_server.vcxproj.FileListAbsolute.txt
*.testlog
*.manifest
*.db-shm
*.db-wal
*.opendb
*.ilk
x64/Debug/monitor_dummy_server.vcxproj.FileListAbsolute.txt
*.idb
